[Unit]
Description=Amadoi Temperature Monitoring Service
After=network.target

[Service]
ExecStart=/usr/local/amadoi/amadoi
Restart=always
WorkingDirectory=/etc/amadoi
# User=pi
# Group=pi

[Install]
WantedBy=multi-user.target
